body {
    color:white;
}

.weather-section {
    border:1.5px solid #ffffff7a;
    background:linear-gradient(rgba(52, 153, 255, 0.95), rgba(65, 99, 40, 0.95));
}

.forecast-data {
    color:whitesmoke;
}

.day {
    border:1px rgba(31, 30, 30, 0.4) solid;
    background: rgba(79, 128, 115, 0.9);
}

.day:hover, .day:focus {
    background-color:rgba(51, 88, 77, 0.9); 
    transition:background-color .5s ease-out;
    border:1px rgba(255, 255, 255, 0.4) solid;
}

.max-temp {
    color:#e2e2e2;
}

.min-temp {
    color:#c1c1c1;
}

.pop {
    color:lightblue;
}


.butn {
    color: #ffffff;
    background: #488da0;
  }
  
.butn:hover {
    background: #6dcce6;
    border:.5px solid #488da0;
    transition:background-color .5s ease-out;
}

.background {
    background-image:url('../img/morning.png');
    height:100vh;
    background-size:cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:0 20px;
}

.slider {
    background: #f3f3f3;
}

.slider::-webkit-slider-thumb {
    background: darkgray;
}



